* {
    font-family: 'Comfortaa',
    cursive;
}
body {
    background-color: #2e3440;
}
#container {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: #5e81ac;
    border-radius: 20px;
    padding: 10px;
    margin: 0 auto;
}

.screen {
    width: 200px;
    text-align: right;
    height: 70px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #eceff4;
    font-weight: bold;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #88c0d0;
    background-color: #4c566a;
    margin-bottom: 20px;
}

.screen p {
    margin: 10px;
}
.buttons {
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;

}

button {
    width: 50px;
    height: 35px;
    color: #2e3440;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    background-color: #ebcb8b;
    margin:2px;
}

button:hover {
    background: linear-gradient(#373b44, #4286f4);
}

button[id="butC"] {
    background-color: #bf616a;
}

button[id="butC"]:hover {
    background: linear-gradient(#8fbcbb, #88c0d0);
}